
<!DOCTYPE html>
<html>
<head>
  <title>Protsahan | ListAllUsers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
<style>
body{
  margin: 0;
  padding:0;
  font-family: "Lato",sans-serif;
  background: #f1f1f1;

}

.header-main{
    width: 100%;
    height: 20vh;
}

nav {
    width :100%;
    height:80px;
    background-color:rgba(0, 0, 0,0.850);
    line-height: 50px;
    position: fixed;
    z-index: 100;

}

nav ul {
    float:right;
    margin-right: 30px;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
}
nav ul li:hover{
    background-color: #29a719;

}

nav ul li a {
    text-decoration: none;
    padding:30px;
    color:white;
}

.fas fa-bell fa-lg:hover{
    padding-right: 10px;
}

#customers {
  position: relative;
  left: 2.5%;
  padding:0px 50px;
    border-collapse: collapse;
    width: 1300px;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.footer {
  position: absolute;
    height:70px;
    width:100%;
    background-color: rgba(0, 0, 0,0.899);
    color: white;
    text-align: center;

}
.footer h2 {

}
</style>
</head>
<body>
  <div class="header-main">
            <nav>
                <img src="/images/logo.png" width="200" height="80" >
                <ul>
                    <li><a href="/profile">Home</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </nav>
        </div>

<table id="customers">
  <tr>
    <th>Name</th>
    <th>Email_id</th>
    <th>State</th>
    <th>Department</th>
  </tr>
  <% for(var i=0;i < users.length;i++) {  %>
  <tr>
    <td><%= users[i].username %></td>
    <td><%= users[i].email %></td>
    <td><%= users[i].state %></td>
    <td><%= users[i].department %></td>
  </tr>
  <% } %>

</table><div class="footer">
               <span><h2>@PROTSAHAN</h2></span>
           </div>
</body>
</html>
