<table>
  dfhkdhfkdhfdkfh
  <%= console.log(artisans) %>
<% for(var i=0; i < artisans.length; i++) { %>
   <tr>
     <td><%= artisans[i].username %></td>
     <td><%= artisans[i].state %></td>
   </tr>
<% } %>
</table>
