<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <!-- <link href="style.css" rel="stylesheet"> -->
    <title>PROFILE CARD</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


    <style>
     body{
        margin: 0;
        padding:0;
        font-family: "Lato",sans-serif;
        background: #f1f1f1;
    }

    .header-main{
    width: 100%;
    height:10vh;
}

nav {
    width :100%;
    height:80px;
    background-color:rgba(0, 0, 0,0.850);
    line-height: 50px;
    position: fixed;
    z-index: 100;

}

nav ul {
    float:right;
    margin-right: 30px;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
}
nav ul li:hover{
    background-color: #29a719;

}

nav ul li a {
    text-decoration: none;
    padding:30px;
    color:white;
}

.fas fa-bell fa-lg:hover{
    padding-right: 10px;
}



.sidebar{
    margin-top: 15px;
    width:250px;
    height:517px;
    background-color:#DDDDDD;

}
.sidebar ul{
    padding: 0;
    margin: 0;


}
.sidebar ul li{
    margin: 0;
    list-style-type: none;
    display: block;
    transition: 0.8s all;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(65, 63, 63);

}
.sidebar ul li:hover{
    background-color: #BFBFBF;
    cursor: pointer;
}
.sidebar ul li h2{
    margin: 0;
    padding:20px 0;
    color: black;
}
.sidebar ul li a {
    text-decoration: none;
    color:black;
    padding:20px 0;
    font-size: 22px;
}
.artisan {
    height: 50px;
    background-color: #DDDDDD;
    text-align: center;
    width: 1000px;
    position: relative;
    left:20%;
    top:-440px;
    border-radius: 5px;

}
.artisan h2 {
    padding: 10px;
}
</style>
</head>
<body>
    <div class="header-main">
        <nav>
            <img src="images/logo.png" width="200" height="80">
            <ul>
                <li><a href="#"><i class="fas fa-bell fa-lg" style="color:white; cursor:pointer; padding-right:5px;"  aria-hidden="true"></i>Notifications</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="sidebar">
        <ul>
            <li><h2 style="text-transform:uppercase;"><%= req.session.user[0].username %></h2></li>
            <li><a href="/dashboard/artisans">State Artisans</a></li>
            <li><a href="/dashboard/artisans/all">All Artisans</a></li>
            <li><a href="/scheme">Add Scheme</a></li>
            <li><a href="/dashboard/artisans/qalist">Q & A Section</a></li>
            <li><a href="/updatepassword">Update Password</a></li>
            <li><a href="#">Agencies</a></li>
        </ul>

    </div>
    <div class="artisan">
        <h2>No of Artisans Registered: 60</h2>
    </div>

        <div id="myfirstchart" style="height: 250px;width:500px; left:20%;top:-400px;"></div>


    <div id="donut-example" style=" position :relative; height: 250px;width:500px; left:60%;top:-650px;"></div>
    <script>
        new Morris.Donut({
        element: 'donut-example',
        data: [
          {label: "Download Sales", value: 12},
          {label: "In-Store Sales", value: 30},
          {label: "Mail-Order Sales", value: 20}
        ]
      });
    </script>


    <script>
        new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'myfirstchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [
    { year: '2008', value: 20 },
    { year: '2009', value: 10 },
    { year: '2010', value: 5 },
    { year: '2011', value: 5 },
    { year: '2012', value: 20 }
  ],
  // The name of the data record attribute that contains x-values.
  xkey: 'year',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['value'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Value']
});
    </script>
    <div class="footer">
            <span><h2>@PROTSAHAN</h2></span>
    </div>
</body>
