body{
    margin: 0;
    padding:0;
    font-family: "Lato",sans-serif;
    background: #f1f1f1;

}

nav {
    width :100%;
    height:80px;
    background-color:rgba(0, 0, 0,0.850);
    line-height: 50px;
    position: fixed;
    z-index: 100;

}

nav ul {
    float:right;
    margin-right: 30px;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
}
nav ul li:hover{
    background-color: #29a719;

}

nav ul li a {
    text-decoration: none;
    padding:30px;
    color:white;
}

.fas fa-bell fa-lg:hover{
    padding-right: 10px;
}
.profile-card{
    width:400px;
    overflow: hidden;
    position: absolute;
    top:54%;
    left:50%;
    transform:translate(-50%,-50%);
    background: white;
    color:#314652;
}

.header-profile{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.header-profile:before{
    content: '';
    position: absolute;
    border-top: 30px solid transparent;
    border-left: 400px solid white;
    bottom:0;
}

.header-profile img{
    width:100%;
    height:299px;

}

.content{
    padding:10px;
    overflow: hidden;
    text-align: center;
}
.content h2{
margin: 0 5px 0 0;
}

.footer-profile{
    width: 100%;
    height:80px;
    background: #314652;
    position: relative;
    color:white;
}

.footer-profile:before {
    content: '';
    position: absolute;
    border-bottom: 30px solid transparent;
    border-right: 400px solid white;
    top:-1px;
}

.footer-profile p{
    margin: 0;
    padding: 30px;
    display: block;
}

.header-main{
    width: 100%;
    height: 1vh;
}



.footer {
    height:70px;
    width:100%;
    background-color: rgba(0, 0, 0,0.899);
    color: white;
    text-align: center;
    bottom: 0;
}
.footer h2 {
    padding-top: 20px;
}

.video-gallery{
  position: relative;
  margin-top: 30px;
  margin-left: 370px;


}
.image-heading {
    position: relative;
    left: 48%;
}
.column {
    position: relative;
    left:5%;
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {

    cursor: pointer;

}

.column img:hover {
    opacity: 1;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color:black;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: black;
    font-size: 35px;
    cursor: pointer;
}


/* <div class="row">
            <span class="image-heading"><h1>IMAGES</h1></span>
            <div class="column">
              <img src="plane.jpg" alt="Nature" style="width: 400px;" onclick="myFunction(this);">
            </div>
            <div class="column">
              <img src="ourTeam.jpg" alt="Fjords" style="width: 400px;" onclick="myFunction(this);">
            </div>
            <div class="column">
              <img src="ourTeam.jpg" alt="Mountains" style="width: 400px;" onclick="myFunction(this);">
            </div>
            <div class="column">
              <img src="ourTeam.jpg" alt="Lights" style="width: 400px;" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="ourTeam.jpg" alt="Lights" style="width: 400px;" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="ourTeam.jpg" alt="Lights" style="width: 400px;" onclick="myFunction(this);">
            </div>
          </div>

          <div class="container">
            <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
            <img id="expandedImg" style="width:100%">
            <div id="imgtext"></div>
          </div>

<script>
function myFunction(imgs) {
    var expandImg = document.getElementById("expandedImg");
    var imgText = document.getElementById("imgtext");
    expandImg.src = imgs.src;
    imgText.innerHTML = imgs.alt;
    expandImg.parentElement.style.display = "block";
}
</script> */
